
.home-sections, .work-page {
  margin-left: 200px;
  display: flex;
  flex: 1;
}
/***need read up on flexbox***/

/**columns**/
.grid {
  flex: 1;
}
section {
  padding: 50px 0;
}
.col {
  max-width: 300px;
  margin: 0 10px;
  /*background: pink;*/
}

.col-two {
  max-width: 620px;
  margin: 0 10px;
  /*background: honeydew;*/
}

.col50 {
  width: 50%;
  /*background: gray;*/
}
.push-left {
  margin-left: 330px;
}
.flex {
  display: flex;
  flex-direction: rows;
  /*justify-content: center;*/
}
.flex--center {
  justify-content: center;
}
.flex--space-around {
  justify-content: space-around;
}

.order-first {
  order: -1;
}

/*****three column grid******/
.group {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}
.grid-three {
  display: flex;
  flex-flow: row wrap;
}
.p-list {
  flex: 1 0 33.33%;
  min-width: 340px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px
}
.a1 {
  background: honeydew;
}
.b1 {
  background: pink;
}
.c1 {
  background: orange;
}
/****sections height*******/

.section-1 {
  margin-top: 28px;
  margin-bottom: 28px;
}
.section-2 {
  margin-top: 3em;
  margin-bottom: 3em;
}
.section-3 {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.section-5 {
  margin-top: 4.5em;
  margin-bottom: 4.6em;
}
.section-6 {
  margin-top: 2.6em;
  margin-bottom: 2.6em;
}



@media (min-width:1595px) and (max-width: 2560px){
  .col {
    max-width: 450px;
  }
  canvas#chartPortfolio {
    margin-left: 52px;
  }
  .col-two {
    max-width: 900px;
  }
  .fullcol2 {
    margin-top:25px;
    margin-bottom:25px;
  }
  .col.push-left.full-width-col {
    max-width: 530px;
  }
  .home-lead {
      margin-left: 225px;
  }
  .lab-image {
    margin-left: 0;
  }
  .fb-cta {
    margin-top: 72px;
  }
  /***porfolio grid**/
  .group {
    margin-left: auto;
    margin-right: auto;
    max-width: 1530px;
  }
  .p-list {
    max-width: 500px;
  }
}
@media (max-width:1746px) and (min-width: 1596px){
  /***porfolio grid**/
  .group {
    margin-left: auto;
    margin-right: auto;
    max-width: 1190px;
  }
  .p-list {
    max-width: 385px;
  }
}

@media (max-width: 1380px) and (min-width: 1327px){
  /**Portfolio grid**/
  .group {
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
  }
  .p-list {
    max-width: 360px;
  }
}

@media (max-width: 840px) {
  .home-sections, .work-page {
    margin-left: 0;
  }
}

@media (max-width: 640px) {
  .grid .flex{
    display: block;

  }
  .col {
    max-width: 100%;
    margin: 10px auto;
  }
  .col50 {
    width:auto;
  }
  .push-left {
    margin-left: auto;
  }
  .col-two {
    margin: 0 20px;
  }
}
