body {
  background-color: #ffffff;
  margin: 0;
  font-family: 'Open Sans',sans-serif;
}
.portfolio-page {
  background-color: #ffffff;
}

h1, h2, p {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

/**header and navigation as a side bar**/
header {
  width: 200px;
  background-color: #033342;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
    .logo-sm {
      display:none;
    }
    .logo{
      text-align: center;
      -webkit-text-align: center;
    }
    .logo img {
      border-radius: 50%;
      border: 4px solid #eeeeee;
      max-width: 180px;

    }
    h1.logo {
      color: transparent;
      padding-bottom: 10px;
    }

    .titleheader {
      margin-top: 0;
    }
    .titlehead {
      line-height: 0.5;
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-size: 17px;
      color:#eeeeee;
    }

    /**nav**/
    nav {
      margin-top: 180px;
    }
    nav ul {
      /*margin-top: 180px;*/
      list-style: none;
      text-align: right;
      padding-right: 20px;
    }

    nav ul li {
      font-family: 'Lato', sans-serif;
      color:#cbb997;
      font-size: 18px;
      margin-bottom: 5px;
    }
    nav ul li a {
      color: #eeeeee;
    }
    nav ul li a:hover {
      color: #49adc1;
      text-decoration: none;
    }
    nav ul li a:active, nav ul li a:focus {
      color: #16b3c6;
      text-decoration: none;
    }
    /**mobile menu**/

    .mobile-nav-toggle {
      display: none;
      width: 50px;
      height: 50px;
      /*background: pink;*/
      float: right;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
      margin: -38px 20px 0 0; /**-20px**/
      cursor: pointer;
    }
    .mobile-nav-toggle span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #eeeeee;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    .mobile-nav-toggle span:nth-child(1) {
      top: 0px;
    }

    .mobile-nav-toggle span:nth-child(2),.mobile-nav-toggle span:nth-child(3) {
      top: 18px;
    }

    .mobile-nav-toggle span:nth-child(4) {
      top: 36px;
    }

    .mobile-nav-toggle.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    .mobile-nav-toggle.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .mobile-nav-toggle.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    .mobile-nav-toggle.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    /***mobile-nav function***/
    .mobile-nav, .is-open {
      display: none;
      position: absolute;
      width: 100%;
      background-color: #033342;
      z-index: 999;
      padding: 5px 0 10px;
      margin-top: 302px;
      transform: translateY(-100%);
      transition: all 0.3s ease-in-out
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
    }

    .mobile-nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .mobile-nav ul li {
      text-align: center;
      margin-bottom: 5px;
      font-family: 'Lato', sans-serif;
      color:#eeeeee;
      font-size: 18px;

    }
    .mobile-nav ul li a {
      color:#eeeeee;
    }
    .mobile-nav ul li a:hover {
      color: #49adc1;
      text-decoration: none;
    }
    .pm-nav {
      margin-top: 335px;
    }

/********************Content Sections**************************/

/*****Top Section*******/
.top-section {
  background-image: url(../images/hero-image.jpg);
  background-position: center center;
  background-size: cover;
}

h2 {
  color: #eeeeee;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 4px;
  margin-left: -360px;
  max-width: 450px;

}
h2 {
  margin-top: 80px;
  padding-bottom: 50px;
}

.home-lead {
  font-size: 30px;
  color: #eeeeee;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 2px;
}

.home-lead {
  padding-top: 114px;
}

/*****About*****/
.about {
  background-color: #034a60;
   /*background-image: -webkit-linear-gradient(rgba(3,74,96,1) 0%, rgba(7,95,123,1) 100%);
   background-image: -o-linear-gradient(rgba(3,74,96,1) 0%, rgba(7,95,123,1) 100%);
   background-image: linear-gradient(rgba(3,74,96,1) 0%, rgba(7,95,123,1) 100%);*/
}
.section-lead {
  color: #eeeeee;
  font-size: 36px;
  font-family: 'Open Sans',sans-serif;
  font-weight:600;
}
p {
  color: #eeeeee;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}
.justify {
  text-align: justify;
}
.head-about {
  margin-top: 35px;
}
.para-about {
  margin-top: -16px;
}
.last-p {
  padding-bottom: 65px;
}

/****Skills***/
.skills {
  background-color: #075f7b;
}
.para-skills {
  margin-top: 45px;
  text-align: right;
}
.rightside {
  text-align: right;
  margin-top: -16px;
}
.center-text-heading {
  text-align: center;
  font-weight: 600;
  color: #eeeeee;
}

.icon-graphic {
  text-align: center;
  margin-top: -10px;
}
.g-icon {
  width: 70px;
  margin: 10px 10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);

}
.home-cta {
  background-color: #0670a0;
  display: block;
  font-size: 28px;
  text-align: center;
  padding: 0.4em 0;
  line-height: 1;
  /*box-shadow: 0px 3px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;

}
.home-cta:hover {
  color: #eeeeee;
  text-decoration: none;
  box-shadow: 0px 5px 14px rgba(0,0,0,0.6);
}
.home-cta:link, .home-cta:visited, .home-cta:active {
  color: #eeeeee;
  text-decoration:none;
}
.chart-col.center-text-heading {
    margin-top: 101px;
}
canvas#chartPortfolio {
    margin-left: -14px;
}
#legendLabel p {
  text-align: center;
    font-size: 11px;
}
/******work section*****/
.work {
  background-color: #076793;
  /*#00c9b8;*/
}
.scr {
  max-width: 100%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 6px 10px 2px rgba(0,0,0,0.2);

}
.scr-text {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.right-mobile-left-box {
  margin-top: 70px;
}
.work-mobile {
  display: none;
}
.work-cta {
  margin-top: 7px;
  margin-bottom: 60px;
}

.work-cta {
  background-color: #3097c6;
  display: block;
  font-size: 28px;
  text-align: center;
  padding: 0.4em 0;
  line-height: 1;
  /*box-shadow: 0px 3px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;

}
.work-cta:hover {
  color: #eeeeee;
  text-decoration: none;
  box-shadow: 0px 5px 14px rgba(0,0,0,0.6);
}
.work-cta:link, .work-cta:visited, .work-cta:active {
  color: #eeeeee;
  text-decoration:none;
}
.col.scr-top {
  margin-top: 35px;
}

/****The Lab****/
.the-lab {
  background-color: #3097c6;
}
.lab-image {
  max-width: 380px;
  margin-top: 45px;
  margin-left: -75px;
}
.thelab-cta {
  margin-top: 7px;
  margin-bottom: 60px;
}


.thelab-cta {
  background-color: #00a89a;
  margin-top: 30px;
  display: block;
  font-size: 28px;
  text-align: center;
  padding: 0.4em 0;
  line-height: 1;
  /*box-shadow: 0px 3px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;

}
.thelab-cta:hover {
  color: #eeeeee;
  text-decoration: none;
  box-shadow: 0px 5px 14px rgba(0,0,0,0.6);
}
.thelab-cta:link, .thelab-cta:visited, .thelab-cta:active {
  color: #eeeeee;
  text-decoration:none;
}

/*****************FB ads******************/
.fb-ads {
  background-color: #00a89a;
}
.fb-pic {
  width: 380px;
  margin-top: 45px;
}
.para-fb {
  margin-top: 45px;
  text-align: left;
}

.fb-cta {
  margin-top: 7px;
  margin-bottom: 60px;
}


.fb-cta {
  background-color: #8e303e;
  margin-top: 30px;
  display: block;
  font-size: 28px;
  text-align: center;
  padding: 0.4em 0;
  line-height: 1;
  /*box-shadow: 0px 3px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;

}
.fb-cta:hover {
  color: #eeeeee;
  text-decoration: none;
  box-shadow: 0px 5px 14px rgba(0,0,0,0.6);
}
.fb-cta:link, .fb-cta:visited, .fb-cta:active {
  color: #eeeeee;
  text-decoration:none;
}
/************Contact *************/

.contact {
  background-color: #8e303e;
}

.contact-h {
  text-align: center;
}
.contact-p
{
  text-align: center;
}

/***contact-form****/
form {
  max-width: 620px;
  margin: 0 auto 50px;
}

form input, textarea {
  width:100%;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  border: none;
}

form input, select, textarea{
    color: #eeeeee;
    background-color: #772935;
}
form textarea:focus, input:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #a84957;
}
form textarea {
  height: 10em;
  resize: none;
}
label {
  display: block;
  color:#eeeeee;
  margin-bottom: 20px;
}
#sub {
  background-color: #033342;
  margin-top: 30px;
  display: block;
  font-size: 28px;
  text-align: center;
  padding: 0.4em 0;
  line-height: 1;
  border: none;
  /*box-shadow: 0px 3px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}
#sub:hover {
  color: #eeeeee;
  text-decoration: none;
  box-shadow: 0px 5px 14px rgba(0,0,0,0.6);
}
#sub:link, #sub:visited, #sub:active {
  color: #eeeeee;
  text-decoration:none;
}
.contact-span {
  display: block;
}

.contact-info-group label {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.contact-info-group label:nth-child(1) {
  padding-right: 5px;
}
.contact-info-group label:nth-child(2) {
  padding-left: 5px;
}

/******************Portfolio page***************************/
.hero-work {
  background-image: url(../images/road.jpg);
  background-position: center center;
  background-size: cover;
}
.section-a {
  margin-top: 5em;
  margin-bottom:5em;
}
.hero-top h2 {
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}
.hero-top h2 {
  padding-bottom: 0;
}
.hero-top p {
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
}
.box-a {
  border: solid #eeeeee 3px;
  box-sizing: border-box;
  padding: 10px;
}

.project-title {
  /*margin-top: 20px;*/
  font-size: 2rem;
  text-align: center;
  color: #605f68;
}

.card-i {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card-i:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.box-card {
    padding: 2px 16px;
}
.box-card h4 {
  padding-top: 10px;
}
.box-card p {
  color: #000;
}

.card-i {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
.card-i {
    border-radius: 5px 5px 0 0;
    width:100%;
}
.heading-project {
    padding-bottom: 25px;
}
.back {
    display: none;
}
a.back.btn-light {
    width: 67px;
}
a.back.btn-light.topbutton {
    width: 67px;
    margin-top: -40px;
}
/********The lab page*******************/
.lab-hero {
  background-image: url(../images/the-lab-image.jpg);
  background-position: center center;
  background-size: cover;
}

/*****Project-indigo London****/
.top-portfolio-item {
  background-color: #04556e;
}
.tpi h2 {
  color: #eeeeee;
  text-align: center;
  margin: 0 auto;
}
.tpi p {
  color: #eeeeee;
  font-size: 1em;
  text-align: center;
}
.project-main-image {
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.scr-mobile{
  max-width: 100%;
}
/*.go-cta {
  margin-top: 7px;
  margin-bottom: 60px;
}*/

/**All portfolio pages**/
.go-cta {
  background-color: #033342;
  display: block;
  font-size: 28px;
  text-align: center;
  padding: 0.5em 0.8em;
  line-height: 1;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;

}
.go-cta:hover {
  color: #eeeeee;
  text-decoration: none;
  box-shadow: 0px 5px 14px rgba(0,0,0,0.6);
}
.go-cta:link, .go-cta:visited, .go-cta:active {
  color: #eeeeee;
  text-decoration:none;
}
.space-top{
  margin-top: 30px;
}
.view-live p {
  color: #333;
}

.jammy-page, .root-page {
  background-color: #eeeeee;
}

/***Project clipped apps****/
.side-img {
  max-width: 100%;
}
.col.bbc {
  background-color: #29926c;
  min-width: 100%;
  display: flex;
  align-items: center;
}
.bbc p {
  font-size: 100%;
  padding: 20px;
}

/******the lab page*****/
a.links-projlab {
  text-decoration: none;
  color:#033342;

}
a.links-projlab:hover {
  color: #49adc1;
}
.title-of-lab-proj {
  text-align: center;
  margin-top: 15px;
  font-family: 'lato', sans-serif;
}

/*****lab item page *****/
.top-item-lab {
    padding-top: 6%; /*Change on different screen size*/
    background-color: #490719;
}
.lab-item-title {
  text-align: center;
  color: #eeeeee;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 20px;
}
.lab-item-s1 p {
  font-size: 16px;
  text-align: justify;
}
.lab-item-s2 img {
  max-width: 100%;
  margin-top: 20px;
}
.container-double-img {
    display: flex;
    align-items: center;
}
.mobile-screenshot {
  float: left;
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
}
.lab-item-s2 p {
  color: #333333;
  margin-top: 30px;
  font-size: 16px;
  clear: both;
}
#small-text {
  font-size: 30px;
}
@media (min-width: 1360px){
  .bbc p {
    font-size: 127%;
  }
}
@media (max-width: 1100px) {
  h2 {
    margin-left: -315px;
  }
  .fb-pic {
    max-width: 100%;
    margin-top: 85px;
  }
}

@media (max-width: 840px) {
  header {
    display: block;
    width: auto;
    position: relative;
    top:auto;
    left: auto;
    bottom: auto;
    flex-direction: row;
    align-items: center;
    box-shadow: none;
  }
      .titleheader {
        margin-top: 0;
        display: none;
      }

      .logo-sm {
        width: 90px;
        display: block;
        padding: 0 0 0 10px;
        margin: -22px 0;
        box-sizing: border-box;
      }
      .logo-sm img {
        border-radius: 50%;
        border: 2px solid #eeeeee;
        max-width: 80px;
      }
      .mobile-nav-toggle {
        display: block;
      }
      nav {
        display: none;
      }
      nav ul {
        margin-top: 0;
        text-align: left;
      }
      .mobile-nav.is-open {
        display: block;
        transform: translateY(0%);
      }
      .project-title {
        margin-top: 20px;
      }
      .back {
      display: block;
      margin-left: 0.3em;
}     .btn-light {
    	background: #033342;
        padding: 7.5pt 11.25pt;
        border-radius: 2.25pt;
        cursor: pointer;
        border: none;
        outline: none;
        text-transform: uppercase;
        font-size: 11pt;
      	font-family: 'Open Sans', sans-serif;
      	font-weight: 500;
      	color: #eeeeee;
        margin: 3.75pt;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
}
    .back.btn-light:hover, .back.btn-light:focus, .back.btn-light:active {
      color: #49adc1;
      text-decoration: none;
    }

    /***clippedapps***/
    .bbc p {
      font-size: 100%;
    }
    /***the lab***/
    .lab-hero {
      background-position: left;
      background-size: cover;
    }

}

/******************footer*******************/
footer {
  background-color: black;
  display: flex;
  flex-direction: column;
}
footer ul {
  display: flex;
  align-self: center;
  max-width: 100%;
  margin: 30px auto;
  padding: 0;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  width:60px;
  height: 60px;
  background: #fff;
  text-align: center;
  line-height: 55px;
  font-size: 30px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px #fff solid;
  z-index: 1;
}

footer ul li  a .fa {
  position: relative;
  color: #262626;
  transition: .5s;
  -webkit-transitition:.5s;
  -moz-transitition:.5s ;
  -ms-transitition:.5s ;
  -o-transitition:.5s ;
  z-index: 3;
}

footer ul li a:hover .fa {
  color: #fff;
  transform: rotateY(360deg);
}
footer ul li a:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height:100%;
  background: black;
  transition: .5s;
  -webkit-transitition:.5s;
  -moz-transitition:.5s ;
  -ms-transitition:.5s ;
  -o-transitition:.5s ;
  z-index: 2;
}

footer ul li a:hover:before {
  top:0;
}
.copyright {
  text-align: center;
}

@media (min-width: 840px) and (max-width: 900px){
  .lab-image {
    margin-left: 0;
    max-width: 100%;
  }
  .bbc p {
    font-size: 85%;
  }
}
@media (max-height: 750px) {
  nav {
    margin-top: 80px;
  }
}
@media (max-width: 740px){
  .bbc p {
    font-size: 85%;
  }
}
@media (max-width: 640px) {
  h2 {
    margin-left: 10px;
    margin-right: auto;
  }
  .skill-acol {
    display: flex;
    flex-direction: column;
  }
  .chart-col.center-text-heading {
    margin-top: 20px;
}
  canvas#chartPortfolio {
    margin: auto;
}
.para-skills, .rightside {
  text-align: left;
}
.work-mobile {
  display: block;
  margin-top: -25px;
}
.work-full {
  display: none;
}
.lab-image {
  max-width: 100%;
  margin-left: 0;
}
.fb-pic {
  display: block;
  margin: 0 auto;
}
.scr-mobile {
  padding: 0 100px;
}
.bbc p {
  font-size: 100%;
  margin: 27% 0;
}
}
@media (max-width:550px){
  .container-double-img {
    flex-direction: column;
  }
  .mobile-screenshot {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }
  /***footer**/
  footer ul li a {
    width: 50px;
    height: 50px;
    line-height: 45px;
    font-size: 25px;
      margin: 0 5px;
  }
}
@media (max-width:420px){
  .scr-mobile{
    padding: 0px;
  }
}
